/* General */
* {
  box-sizing: border-box;
}
ul {
  list-style: none;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
/* Header & Search Bar */
h1 {
  font-size: 50px;
  color: #004876;
  text-align: left;
  margin-left: 2em;
  margin-top: 0;
  padding-top: 0.75em;
  font-style: italic;
  text-transform: uppercase;
}
header {
  
  border-radius: 0.25em;
  background-image: url(images/backgroundh.png);
}
#myInput {
  background-image: url(images/loupe.png);
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 25%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 2px solid #ddd;
  margin-bottom: 20px;
  margin-left: 6em;
}
/* Main */
.container {
  display: flex;
  margin-top: 25px;
  overflow: hidden;
}
/* Filter buttons */
.flexbox {
  display: inline-flex;
  flex-direction: column;
}
.btn {
  border: none;
  font-size: inherit;
  color: whitesmoke;
  background: #0082C3;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  border-radius: 0.25em;
}
.btn:hover {
  background: #004876;
}
/*
.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
*/

/* Events */
.grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: 20rem 20rem 20rem;
  grid-template-rows: auto;
  grid-gap: 1.5rem;
  margin: 2em auto;
  justify-content: center;
}
.grow { 
  transition: all .2s ease-in-out; 
  } 
.grow:hover { 
  transform: scale(1.1); 
  }
li.grow {
  width: 20rem;
  height: 10rem;
  background-color: white;
  border: 2px solid #004876;
  border-radius: 0.25em;
}
img {
  border-radius: 0.1em;
  width: 19.75rem;
  margin: 0 auto;
  border-bottom: 0.15px solid #004876;
}

.filterDiv {
  text-align: center;
  padding: 8px;
  font-size:large;
}
a:link {
  color: #004876;
  text-decoration: none;
  font-weight: bold;
}
a:visited {
  color: #004876;
  font-weight:lighter;
}
.show {
  display: grid;
}
@media screen and (max-width: 600px){
  h1 {
    margin-left: 1em;
  }
  #myInput {
    width: 75%;
    margin-left: 3em;
  }
  .container {
    flex-direction: column;
  }
  .flexbox {
    flex-direction: row;
    margin-bottom: 1em;
    flex-wrap: wrap;
  }
  .btn {
    padding: 10px 10px;
    margin: 5px 2px;
    width: 100px;
  }
  .grid-container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-left: 0;
    align-items: center;
  }
  li.grow {
    margin: 1em 0.5em;
    float: center;
  }
}
@media screen and (min-width: 700px) and (max-width: 1000px){
  .flexbox {
    flex-direction: column;
    width: 80px;
  }
  .btn {
    width: 75px;
    padding: 15px 15px 15px 7px;
    margin-left: 5px;
  }
  .grid-container {
    grid-template-columns: 20rem 20rem;
    grid-template-rows: auto;
    grid-gap: 1rem;
    padding: 0;
    margin-top: 0;
  }
}
@media screen and (min-width: 1001px) and (max-width: 1100px){
  #myInput {
    width: 75%;
  }
  .grid-container {
    grid-template-columns: 20rem 20rem;
    grid-template-rows: auto;
    grid-gap: 1.5rem;
    padding: 0;
  }
}